.calculator{
    margin:auto;
    width:300px;
    height:150px;
    border:1px solid black;
    padding:10px;

}

.btn-row{
    display:flex;
    margin-top:10px;
}

.btn-row > button{
    height:30px;
    margin: 10px 5px;
    flex-grow:1;
    font-size:20px;
    font-weight:bold;
}

#calcResult{
    color : red;
}