* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .account{
    border: 2px solid black;
    padding : 40px;
    width: 600px;
    height:460px;
    margin: 100px;
  }
  
  .account .output{
    display: flex;
    padding: 20px 10px;
    border : 3px solid red;
    margin : 10px;
  }
  .account .row2{
    display: flex;
    padding: 20px 10px;
    border : 3px solid blue;
  }
  .account .row3{
    display : flex;
  }
  
  .btn-row{
    height: 200px;
  }
  
  .btn-row > .de-btn,.with-btn{
    width:150px;
    height:100px;
    margin:20px auto;
    border : 3px solid green;
    color: green;
    font-size: 35px;

  }
  
 

  
