*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

.container{
    width:80%;
    height:300px;
    border:1px solid black;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    overflow:auto;



}
.box{
    border:1px solid black;
    width:100px;
    height:100px;
    border-radius:4%;
    background-color:wheat;

}

.box > input{
    width:100%;
}